/*<!-- Alan Vidal Ocampo Orozco -->

/*Styles guide:
0.reset
1.layout
2.generic items
3.part of the web
4.list
5.form
6.animations
----------------
colors:
color1-> #2ebfdf ;
		 #942edf 
		 #20da34 
		#da2020 
		696565
*/

/* 0.reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1.layout */
/* 2.generic items */
/* 3.part of the web */
.widtSEC{max-width: 50%;}
.backgroundd{background-color: #696565;}

.Pic{float: 50px;padding: 1cm;max-width: 99%;}
.Con{color:#2ebfdf;float: right;padding: 1cm;}
.HabS{color:#942edf ; padding: 1cm;}
.studies{float: left;;width: 400px;}
.hab{float: right;;width: 400px;}
.ExpPi{color:  #20da34 ;}
.Exp{float: left;width: 400px;}
.Int{float: right;width: 400px;}
.SofSp{color:  #da2020 ;}
.Softwares{float:left;width: 400px;}
.Languajes{float:right;width: 400px;}
.RP1{float:right;width: 400px; }
.RP2{float:left;width: 400px;}
.PeR{margin-top: 1cm;}
/*
.ventana{ background: blue; width: 30%;padding: 33px;min-height: 250px;border-radius: 22px;position: absolute;left:34%;top: 40%;display: none;color: black;}
.cerrar{position: absolute;right: auto;}
*/
/* 4.list */
/* 5.form */


/* 6.animations */
